# Dependencies
node_modules
.pnp.*
.pnpm-store
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Build outputs & caches
/dist
/pack
/build
.vite-inspect
*.tsbuildinfo

# Runtime & Electron / Chromium User Data / Sessions
UserData/
userdata/
tb_cache/
session-storage/
IndexedDB/
Cookies
Cookies-journal
Local Storage/
Session Storage/
Network/
GPUCache/
blob_storage/

# Databases
*.sqlite
*.sqlite3
*.db
*.db-journal
*.db-wal

# Environment variables & secrets
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE & OS files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db
Desktop.ini
*.lnk
